/*
  |============================
  | Root
  |============================
*/
:root {
    --nawy-blue-color: #2e2f42;
    --iris-accent-color: #4D5AE5;
    --white-fff-color: #FFFFFF;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
    --grey-body-color: #434455;
    --ocean-blue-color: #404bbf;
    --light-slate-color: #8e8f99;
    --primery-font-family: 'Roboto', sans-serif;
    --corn-flower: #e7e9fc;
}

/* Reset */

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.btn {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    cursor: pointer;
}


/**
  |============================
  | Base styles
  |============================
*/
body {
    font-family: var(--primery-font-family);
    color: var(--grey-body-color);
    background-color: var(--white-fff-color);
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}



/* Mobile */

.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;


    /* outline: 1px solid red;
    outline-offset: -2px; */
}


/* Tablet screen */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desctop screen */

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.main-title {
    color: var(--white-fff-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-fff-color);
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
    }
}

@media only screen and (min-width: 768px) {
    .main-title {
        width: 496px;
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .main-title {
        margin-bottom: 48px;
    }
}

.second-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--nawy-blue-color);
    text-align: center;
    margin-bottom: 72px;
}

.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--nawy-blue-color);
    margin-bottom: 8px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | Header
  |============================
*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--nawy-blue-color);
}

@media only screen and (max-width: 1157px) {
    .header-nav {
        display: flex;
        align-items: center;
        padding-top: 26px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-item {
        padding: 24px 0;
    }
}

@media only screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }

    .address-list {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
        color: var(--nawy-blue-color);
        padding: 24px 0;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--ocean-blue-color);
    }

    .nav-link.active {
        color: #404bbf;
    }

    .nav-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--ocean-blue-color);
        border-radius: 2px;
        bottom: -1px;
    }
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris-accent-color);
    margin-right: 76px;
}

.header-studio {
    color: var(--nawy-blue-color);
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .address-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

.address-link {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: var(--slate-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .address-link {
        text-decoration: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        color: var(--slate-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (min-width: 1158px) {
    .address-link {
        font-size: 16px;
        letter-spacing: 0.32px;
    }
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean-blue-color);
}

.menu-toggle {
    min-height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle-icon {
    stroke: var(--nawy-blue-color);
}

/**
  |============================
  | Webstudio page
  |============================
*/

/* Hero section */

.section-banner {
    background-color: var(--nawy-blue-color);
    padding: 112px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-mob@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .section-banner {
        max-width: 1440px;
        padding: 188px 0;
    }
}


/* Retina screen */

@media only screen and (min-width: 428px) {
    .section-banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-tab@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-tab@2x.jpg);
        }
    }
}

@media only screen and (min-width: 768px) {
    .section-banner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-desc@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-banner {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/bg-desc@2x.jpg);
        }
    }
}

.banner-btn {
    display: block;
    border: none;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-fff-color);
    background: var(--iris-accent-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover,
.banner-btn:focus {
    background: var(--ocean-blue-color);
}

.btn-text {
    color: var(--white-fff-color);
}

/* Advantages section */

.section-advantages {
    background-color: var(--white-fff-color);
}

.advantages-third-title {
    color: var(--nawy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .advantages-third-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .advantages-third-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }
}

@media only screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }
}

.advantages-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nawy-blue-color);
}

@media only screen and (max-width: 767px) {
    .advantages-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 1158px) {
    .advantages-item {
        letter-spacing: 0.015em;
    }
}

@media only screen and (min-width: 768px) {
    .advantages-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .advantages-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}

.advantages-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1157px) {
    .advantages-svg {
        display: none;
    }
}

.advantages-text {
    width: 100%;
    height: auto;
    color: var(--slate-color);
}

/* What are we doing section */

.section-wedoing {
    background-color: var(--white-fff-color);
}

@media only screen and (max-width: 1157px) {
    .section-wedoing {
        display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .section-wedoing {
        padding-top: 0;
    }
}

.wedoing-list {
    display: flex;
    gap: 24px;
}

/**
  |============================
  | Our Team
  |============================
*/

.section-team {
    padding: 96px 0;
    background-color: var(--cloud-color);
}

@media only screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }
}

@media only screen and (max-width: 767px) {
    .team-container {
        width: 296px;
    }
}

.team-title-text {
    padding: 32px 0;
}

@media only screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
    }
}

.team-item {
    max-width: 264px;
    height: auto;
    background-color: var(--white-fff-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
    .team-item {
        /* margin-left: auto;
        margin-right: auto; */
    }

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media only screen and (min-width: 768px) {
    .team-item {
        width: calc((100% - 24px) / 2);
        /* margin-bottom: 72px; */
    }
}

@media only screen and (min-width: 1158px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.team-smm-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

a.team-smm-link {
    color: var(--white-fff-color);
    width: 40px;
    height: 40px;
    background-color: var(--iris-accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.team-smm-link:hover,
a.team-smm-link:focus {
    background-color: #404bbf;
}

.team-smm-icon {
    fill: var(--cloud-color);
}


/**
  |============================
  | Customers
  |============================
*/

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-container {
        width: 584px;
    }
}

.section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--white-fff-color);
}

@media only screen and (min-width: 1158px) {
    .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

@media only screen and (min-width: 1158px) {
    .customers-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
}

.custmers-item {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;

}

@media only screen and (min-width: 768px) {
    .custmers-item {
        flex-basis: calc((100% - 2 * 16px) / 3);
    }
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition-property: fill;
    transition-duration: 250ms;
    color: var(--light-slate-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404bbf;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}


/**
  |============================
  | Porfolio page
  |============================
*/

.section.portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--iris-accent-color);
    background-color: var(--cloud-color);
    padding: 12px 24px;
    border: 1px solid var(--corn-flower);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-fff-color);
    background: var(--ocean-blue-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-img {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-item {
    position: relative;
    width: calc((100% - 48px) / 3);
    transition-property: shadow;
    transition-duration: 250ms;
    overflow: hidden;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-second-title {
    margin-bottom: 8px;
}

.portfolio-title-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--nawy-blue-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/* Overlay styles */

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-desc {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #4D5AE5;
    align-items: center;
    text-align: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
    transform: translate(0%);
}

.link:hover .overlay-desc,
.link:focus .overlay-desc {
    transform: translateY(0%);
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
    background-color: var(--nawy-blue-color);
    color: var(--cloud-color);
    padding: 98px 0 96px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .footer-container {
        gap: 72px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        width: 584px;
        justify-content: left;
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        align-items: baseline;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
    }
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-accent-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    line-height: 1.5;
    color: var(--cloud-color);
    letter-spacing: 0.02em;
    max-width: 268px;
    margin: 0 auto;
}



.footer-studio {
    color: var(--cloud-color);
}

.footer-title-smm {
    color: var(--white-fff-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-title-smm {
        text-align: left;
    }
}

.footer-log-text {}

@media only screen and (min-width: 1158px) {
    .footer-log-text {
        margin-right: 120px;
    }
}

.footer-smm-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.footer-smm-item {
    width: 40px;
    height: 40px;

}

a.footer-smm-link {
    color: var(--white-fff-color);
    width: 100%;
    height: 100%;
    background-color: var(--iris-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-smm-link:hover,
.footer-smm-link:focus {
    background-color: #31d0aa;

}

.footer-smm-icon {
    fill: var(--cloud-color);
}

/* Footer Subscribe Styles */

@media only screen and (max-width: 767px) {
    .footer-suscribe {
        width: 100%;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-suscribe {
        margin-left: auto;
    }
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .subscribe-form {}
}

.footer-suscribe-input {

    width: 100%;
    height: 40px;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--white-fff-color);
    border-radius: 4px;
    color: var(--white-fff-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .footer-suscribe-input {
        width: 264px;
    }
}

.footer-suscribe-input:focus {
    border-color: var(--iris-accent-color);
}

.footer-suscribe-input::placeholder {
    color: var(--white-fff-color);
}

.footer-subsribe-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    background-color: var(--iris-accent-color);
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;

    color: var(--white, #FFF);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .footer-subsribe-btn {
        margin: 0;
    }
}

.footer-subsribe-btn:hover,
.footer-subsribe-btn:focus {
    background-color: var(--ocean-blue-color);
}

.suscribe-icon {
    margin-left: 16px;
}

/**
  |============================
  | Modal styles
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 320px;
    min-height: 584px;
    flex-shrink: 0;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 468px) {
    .modal {
        width: 408px;
    }
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--nawy-blue-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    color: #fff;
    border: none;
}

.modal-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    display: block;
    width: 100%;
    /* height: 24px; */
    margin-bottom: 16px;
    color: var(--nawy-blue-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-form-wrapper {
    margin-bottom: 8px;
}

.modal-form-field {
    display: block;
    margin-bottom: 4px;
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}

.modal-blended-input-svg {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    bottom: 8px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

    fill: var(--nawy-blue-color);
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris-accent-color);
}

.modal-blended-comment {
    margin-bottom: 16px;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-comment::placeholder {
    color: currentColor;
}

/* Modal Agreement styles */

.modal-blended-agreement {
    margin-bottom: 24px;
}

.modal-form-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}

.modal-form-custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-form-checkbox:checked+.modal-form-agreement .modal-form-custom-checkbox {
    background-color: var(--ocean-blue-color);
    border: none;
    fill: var(--cloud-color);
}

.modal-form-link {
    color: var(--iris-accent-color);
}

.modal-form-button {
    display: block;
    border: none;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-fff-color);
    background: var(--iris-accent-color);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color: transparent;
    border: 1px solid var(--corn-flower);
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
    stroke: var(--main-dark-cl);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white-fff-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding: 80px 35px 40px 40px;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--main-light-cl);
}

.mobile-menu {
    width: fit-content;
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-link {
    color: var(--nawy-blue-color);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--ocean-blue-color);
}

.mobile-menu-link.active {
    color: #404bbf;
}

.mobile-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-tel-link {
    color: var(--iris-accent-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

@media only screen and (max-width: 427px) {
    .mobile-tel-link {
        font-size: 24px;
    }
}

.mobile-email-link {
    color: var(--slate-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mobile-smm-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

@media only screen and (max-width: 427px) {
    .mobile-smm-list {
        gap: 25px;
    }
}